/* COLORS */
$color-base: #404040;
$color-base-lighter: #D9D9D9;
$color-neutral-min: #fff;
$color-neutral-max: #000;

/* FONT SIZE */
$fontsize-base: 10px;
$fontsize-headings: 2rem;
$fontsize-subheadings: 1.6rem;
$fontsize-text: 1.4rem;
$fontsize-comment: 1.4rem;

/* BREAKPOINTS */
/* Will only apply styles changes for mobile devices */
$xs: 480px;
